.App {
  text-align: center;
}

.login-mainContainer {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid white;
}
.login-cardContainer {
  border: 2px solid grey;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: scroll;
  height: 70%;
  color: white;
}
.login-cardContainer input {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.login-cardContainer label {
  font-size: 15px;
  width: 150px;
}
.contact-mainContainer {
  color: white;
  border-top: 2px solid white;
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dateInput {
  background-color: white !important;
  color: black !important;
}
tr {
  border: 1px solid white !important;
  padding: 10px;
}
th {
  border: 1px solid white !important;
  padding: 10px;
}
td {
  border: 1px solid white !important;
  padding: 10px;
}
